* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;
}

/* SIDEBAR */

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100vh;
    background: #000;
    padding: 20px;
}

.sidebar h1 {
    margin-bottom: 30px;
}

.sidebar button {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    background: #181818;
    color: white;
    cursor: pointer;
    text-align: left;
}

.sidebar button:hover {
    background: #282828;
}

/* MAIN */

.main-content {
    margin-left: 240px;
    padding: 20px;
    padding-bottom: 140px;
}

.topbar {
    margin-bottom: 30px;
}

.topbar input {
    width: 500px;
    max-width: 100%;
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
}

.albums {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.album {
    width: 200px;
    background: #181818;
    padding: 15px;
    border-radius: 12px;
    cursor: pointer;
    transition: .3s;
}

.album:hover {
    background: #282828;
}

.album img {
    width: 100%;
    border-radius: 10px;
}

.album h3 {
    margin-top: 10px;
}

.album p {
    color: #b3b3b3;
}

.playlist-title {
    margin-top: 40px;
}

#playlist {
    margin-top: 15px;
    list-style: none;
}

#playlist li {
    padding: 15px;
    margin-bottom: 10px;
    background: #181818;
    border-radius: 8px;
    cursor: pointer;
}

#playlist li:hover {
    background: #282828;
}

/* PLAYER */

.bottom-player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: #181818;
    border-top: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.player-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

#portada {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
}

#artista {
    color: #b3b3b3;
}

.controles {
    display: flex;
    gap: 15px;
}

.shuffle-btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: #1DB954;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.shuffle-btn img {
    width: 22px;
    height: 22px;
}

.shuffle-btn:hover {
    transform: scale(1.1);
}

.controles button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: #03b1a3;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.controles button:hover {
    transform: scale(1.1);
}

#favoritos {
    list-style: none;
    margin-top: 15px;
    padding: 0;
}

#favoritos li {
    padding: 15px;
    margin-bottom: 10px;
    background: #181818;
    border-radius: 8px;
    cursor: pointer;
}

#favoritos li:hover {
    background: #282828;
}